.register-bgimg {
    background-image: url(/images/hostel-01.jpg);
    /* height: 100vh;
    position: fixed;
    width: 100%; */
}
.bgfloor{
    /* background:#cbd7e2; */
    background:#FFF;
    .col-xl-2{
        padding-right: 6px !important;
        padding-left: 6px !important;
    }
}

.b-l-single{
    border-left: 4px solid rgb(47, 126, 47);
    .card-title .typcn:before{
        font-size: 1.5rem !important;
        color: rgb(47, 126, 47);
    }
}
.b-l-share{
    border-left: 4px solid rgb(55, 53, 171);
    .card-title .typcn:before{
        font-size: 1.5rem !important;
        color: rgb(55, 53, 171);
    }
}
.room-count-input{
    width:40px;
    float:right; margin: 0 5px;
}

.auth-bg-design {
    background-image: url("../src/assets/auth-bg.png");
    /* background-repeat: no-repeat; */
    background-size: 100vh;

    h2{
        color: #FFF;
        line-height: 35px;
    }
    .m-top-30{
        margin-top: 40%;
    }
    .auth-box-txt{
        background: #4A1FB894;
        color: #FFF;
    }
}

.close-room{
    position: relative;
    left: 80%;
    button{
        border:0px;
        background:none;
    }
    .css-i4bv87-MuiSvgIcon-root{
        width: 0.5em;
        height:0.5em;
       
    }
}

.css-i4bv87-MuiSvgIcon-root{
    width: 0.6em !important;
}

.green-circle {
    color: green;
  }


  .modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .modal-content {
    width: 90%;
    max-width: 600px;
    max-height: 90vh; /* Adjusted max-height value for better content visibility */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: auto;
    padding: 20px;
  }
  
  .user-info-item {
    margin-bottom: 10px;
  }
  
  .info-label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .info-value {
    /* Add your styles for the value here */
    /* For example: */
    color: #333;
  }
  
  

  @media (max-width: 600px) {
    .modal-content {
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .modal-content {
      width: 90%;
      height: 90%;
    }
    .modal-content {
        width: 95%;
        max-width: none;
        max-height: 95vh; /* Adjust maximum height for smaller screens */
      }                                                         
  }
  