.register-bgimg {
    background-image: url(/images/hostel-01.jpg);
    /* height: 100vh;
    position: fixed;
    width: 100%; */
}
.bgfloor{
    /* background:#cbd7e2; */
    background:#FFF;
    .col-xl-2{
        padding-right: 6px !important;
        padding-left: 6px !important;
    }
}

.b-l-single{
    border-left: 4px solid rgb(47, 126, 47);
    .card-title .typcn:before{
        font-size: 1.5rem !important;
        color: rgb(47, 126, 47);
    }
}
.b-l-share{
    border-left: 4px solid rgb(55, 53, 171);
    .card-title .typcn:before{
        font-size: 1.5rem !important;
        color: rgb(55, 53, 171);
    }
}
.room-count-input{
    width:40px;
    float:right; margin: 0 5px;
}

.auth-bg-design {
    background-image: url("../src/assets/auth-bg.png");
    /* background-repeat: no-repeat; */
    background-size: 100vh;

    h2{
        color: #FFF;
        line-height: 35px;
    }
    .m-top-30{
        margin-top: 40%;
    }
    .auth-box-txt{
        background: #4A1FB894;
        color: #FFF;
    }
}

.close-room{
    position: relative;
    left: 100px;
    .css-i4bv87-MuiSvgIcon-root{
        width: 0.5em;
        height:0.5em;
       
    }
}

.css-i4bv87-MuiSvgIcon-root{
    width: 0.6em !important;
}

.green-circle {
    color: green;
  }